<h1> <%= @recipe.name %> </h1>

<h2> Ingredients </h2>

<ul>
  <% @recipe.ingredients.each do |i| %>
  <li> <%= link_to i.name, ingredient_path(i) %> </li>
      <% end %>
    </ul>
<% if @recipe.user %>
	<h3> Made by <%= link_to @recipe.user_name, user_path(@recipe.user) %> </h3>
<% end %>

