<h1> <%= @ingredient.name %> </h1>

<h2> Recipes using this ingredient </h2>

<ul>
  <% @ingredient.recipes.each do |r| %>
  <li> <%= link_to r.name, recipe_path(r) %> </li>
      <% end %>
    </ul>

<% if !@ingredient.users.empty? %>
 <h2>Users allergic to <%= @ingredient.name %></h2>
 <ul>
 	<% @ingredient.users.each do |u| %>
 		<li><%= link_to u.name, user_path(u) %></li>
 	<% end %>
 </ul>
<% end %>